<mat-card class="card-item">
  <mat-card-header (click)="openUpdateCardModal(card)">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ card.name || "-"}}</mat-card-title>
    <mat-card-subtitle>{{ card.title }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="list-group list-group-flush">
      <li class="list-group-item">{{ card.phone }}</li>
      <li class="list-group-item">
        <span *ngIf="card.email">{{ card.email }}</span>
          <small class="text-danger" *ngIf="!card.email">E-Posta Adresi Bulunamadı</small>
        
      <li class="list-group-item">
        <span *ngIf="card.address">{{ card.address }}</span>
          <small class="text-danger" *ngIf="!card.address">Adres Bulunamadı</small>
      </li>
    </div>
  </mat-card-content>
</mat-card>